@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 5% 96%;
    --foreground: 160 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 160 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 160 10% 10%;
    --primary: 152 58% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 150 15% 92%;
    --secondary-foreground: 160 10% 10%;
    --muted: 150 10% 94%;
    --muted-foreground: 160 5% 45%;
    --accent: 150 30% 92%;
    --accent-foreground: 152 56% 30%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 150 10% 90%;
    --input: 150 10% 90%;
    --ring: 152 58% 36%;
    --radius: 0.5rem;
    --sidebar-background: 156 30% 6%;
    --sidebar-foreground: 150 10% 65%;
    --sidebar-primary: 152 58% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 156 25% 12%;
    --sidebar-accent-foreground: 150 10% 90%;
    --sidebar-border: 156 20% 15%;
    --sidebar-ring: 152 58% 48%;
  }

  .dark {
    --background: 156 20% 6%;
    --foreground: 150 10% 95%;
    --card: 156 20% 9%;
    --card-foreground: 150 10% 95%;
    --popover: 156 20% 9%;
    --popover-foreground: 150 10% 95%;
    --primary: 152 58% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 156 15% 15%;
    --secondary-foreground: 150 10% 90%;
    --muted: 156 10% 15%;
    --muted-foreground: 150 5% 55%;
    --accent: 156 20% 15%;
    --accent-foreground: 152 58% 60%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;
    --border: 156 15% 18%;
    --input: 156 15% 18%;
    --ring: 152 58% 48%;
    --sidebar-background: 156 30% 4%;
    --sidebar-foreground: 150 10% 60%;
    --sidebar-primary: 152 58% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 156 25% 10%;
    --sidebar-accent-foreground: 150 10% 90%;
    --sidebar-border: 156 20% 12%;
    --sidebar-ring: 152 58% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
